<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO list</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="box">
        <h1>Todo list</h1>
    </div>
    <div class="box">
        <% ejes.forEach(function(items){ %>
            <div class="item">
                <form action="/complete/<%= items._id %>?_method=put" method="post">
                    <input type="checkbox" name="completed" <%=items.completed ? "checked" : "" %>
                    onchange="this.form.submit()">
                    <p id="task-<%= items._id %>" class="<%= items.completed ? 'done' : '' %>">
                        <%= items.name %>
                    </p>
                </form>

                <button onclick="enableEdit('<%= items._id %>')" class="edit-btn">✏️</button>
                <form action="/delete" method="post">
                    <input type="hidden" name="checkbox1" value="<%= items._id %>">
                    <button type="submit">🗑️</button>
                </form>
            </div>
            <form action="/edit/<%= items.id %>?_method=put" method="post" class="edit-form" id="form-<%=items._id %>"
                onchange="this.form.submit()" style="display:none;">
                <input type="text" name="name" value="<%= items.name %>" id="input-<%= items._id %>">
                <button type="submit">💾</button>
            </form>
            <% }) %>
                <form action="/" method="post">
                    <input type="text" name="ele1" placeholder="Enter the task">
                    <button type="submit" class="btn">+</button>
                </form>
    </div>

    <script>
        function enableEdit(id) {
            document.getElementById("form-" + id).style.display = "inline-block";
            event.target.style.display = "none";
        }

        const params = new URLSearchParams(window.location.search);
        if (params.get("error") === "empty") {
            alert("Task cannot be empty!");
        }
    </script>

</body>

</html>